<!DOCTYPE html>
<html>

<head>
    <title>{{v_version_titel}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/twzico.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/w3.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/dna-theme.css">
    <link rel="stylesheet" href="../static/format.css">

</head>

<body>
    <!-- Header -->
    <div class="w3-row-padding">
        <header class="card">
            <center><h3>{{v_version_program}}</h3></center>
        </header>
    </div>
    <br>
    <!--Navigation-->
    <div class="w3-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link w3-green" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Turniere</a>
                <div class="dropdown-menu">

                    <a class="dropdown-item  w3-hover-teal" href="turnier.html">anlegen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item w3-hover-teal disabled" href="turnierverwalten.html">verwalten*</a>
                    <a class="dropdown-item w3-hover-green" href="turnierloeschen.html">löschen</a>
                </div>
            </li>
        </ul>
    </div>

    <br>

    <form action="http://localhost:17102/turnierloeschen.html" class="" , method="POST">
        <div class="w3-row-padding">
            <br />
            <div class="w3-container w3-card-4 w3-round">
                <div class="w3-row-padding">
                    <div class="w3-half">
                        <h3>Turnier über Turnier ID löschen</h3><br />
                    </div>

                    <div class="w3-half">
                        <br />
                        <input class="w3-col w3-input w3-border w3-pale-yellow" type="text" name="form_turniernummer" , placeholder="Turnier ID" required style="width:50%" maxlength="5">
                        <br />
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="w3-row-padding">
                <div class="w3-third">
                    <center>
                        <input type="submit" button class="btn btn-primary" value="&nbsp;löschen&nbsp;" href="/">
                    </center>
                    <br>
                </div>

                <div class="w3-third">&NonBreakingSpace;</div>

                <div class="w3-third">
                    <center>
                        <input type="reset" button class="btn btn-default" value="verwerfen">
                    </center>
                </div>
                <br>
            </div>
        </div>
    </form>

    <br>
    <div class="w3-row-padding">
        <div class="w3-container w3-card-4 w3-round">

            <h3>Turnierübersicht</h3>

            <div class="w3-row-padding">

                <table>
                    <thead>
                        <tr>
                            <th>Turnier ID</th>
                            <th>Turniername</th>
                            <th>Veranstalter</th>
                            <th>AK</th>
                            <th>Spieltag</th>
                            <th>Ansprechpartner</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for zeile in tabelle %}
                        <tr>
                            <td>{{zeile.tnummer}}</td>
                            <td>{{zeile.tname}}</td>
                            <td>{{zeile.tveranstalter}}</td>
                            <td>{{zeile.tak}}</td>
                            <td>{{zeile.tdatum}}</td>
                            <td>{{zeile.tansprechpartner}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
        </div>


        <div id="footer">
            <p><center><H5>{{v_version_name}}</H5></center></p>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
